body {
  margin: 0;
  font-family: Noto Sans JP, Hiragino Sans, Meiryo, sans-serif;
  background-color: #edf4fa;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

.common-header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 48px;
  position: fixed;
}

.page-header-task {
  top: 48px;
  left: 0;
  right: 0;
  z-index: 1;
  background: #edf4fa;
  height: 72px;
  position: fixed;
}

.page-header-life-insurance {
  top: 48px;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
}
